* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.magician {
  border: 1px solid #ccc;
  width: 80%;
  max-width: 600px;
  margin: 5em auto;
}

.input-screen {
  width: 100%;
  font-size: 2rem;
  height: 70px;
  border: none;
  background-color: #949393;
  color: #fff;
  text-align: right;
  padding: 15px 10px 0 0;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 1px;
  border: 1px solid #bdb5b5;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
}

button:hover {
  background-color: #eaeaea;
}

.sign-operator {
  background-color: #ff8000;
}

.sign-operator:hover {
  background-color: #e9a20a;
  cursor: pointer;
}

.magician-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.zero {
  grid-column-start: span 2;
}

.container {
  height: 15vh;
  width: 100%;
  padding: 30px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e98c30;
}

.footer {
  background-color: #949393;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

.footer > ul > li {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-top: 5px;
}

.title {
  font-size: 50px;
}

.home-title {
  margin: 3rem 0;
  font-size: 25px;
  text-align: center;
}

.paragraph {
  font-size: 19px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.p-quote {
  width: 90%;
  font-size: 20px;
  max-width: 500px;
  margin: 10em auto;
  font-family: cursive;
}

.link {
  color: #000;
  text-decoration: none;
  list-style: none;
}

.link:hover {
  color: aqua;
  text-transform: uppercase;
}
